<%= page_title @page.name %>

<%= render :file => "navigation_bar" %>

<%= make_interlinks @page.to_html, @storage %>

<div class="navigation navfoot">
  <%= link_to "Edit Page", { :action => "edit", :id => @page.wiki_name }, :accesskey => "E" %>
  <%- unless @linked_from_list.empty? -%>
    | Linked from: 
    <span class="linked">
      <%= @linked_from_list.collect { | each | link_to( each.name, :action => "view", :id => each.wiki_name ) }.join( ", " ) %>
    </span>
  <%- end -%>  
</div>
