<%= page_name @page.name %>

<%= navigation_bar @page.name %>

<%= make_interlinks @page.to_html %>

<div class="navigation navfoot">
  <%= link_to "Edit Page", { :action => "edit", :id => @page.wiki_name }, :accesskey => "E" %>
  <%- unless @wiki.all_pages_linking_to( @page ).empty? -%>
    | Linked from: 
    <span class="linked">
      <%= @wiki.all_pages_linking_to( @page ).collect { | each | link_to each.name, { :action => "view", :id => each.wiki_name } }.join(", ") %>
    </span>
  <%- end -%>  
</div>
